

<% @products.each do |product| %>

<% product.name %>
<% product.instock %>
<% product.safetystock %>

<%= form_with scope: :replenish, url: replenishes_path, local: true do |f| %>
<%= f.hidden_field :product_id, :value => product.id %>


   <div>
    <%= f.label :replenish, "補貨" %>
    <%= f.text_field :replenish %>
  </div>
  <%= f.submit "提交" %>
  <% end %>
  
  <% end %>
  
<%= link_to '返回首頁', root_path %>


