<%= form_tag replenishes_path(@replenish), :method => :post do %>

    <% @products.each do |product| %>

        商品名稱<%= product.name %>
        目前庫存量<%= product.instock %>
       安全庫存量<%= product.safetystock %>




       <div>
        <%= label :add, "補貨" %>
        <%= text_field_tag "add[#{product.id}]" %>
      </div>


  
    <% end %>

  <%= submit_tag "提交" %>

<% end %>
  
<%= link_to '返回首頁', root_path %>


