 <h1>Tim and Ruby`s Shopping Store</h1>

 <% if user_signed_in? %>
 <div>
 <%= link_to "產品目錄", product_index_path %>
 </div>
 
 <div>
 <%= link_to "購物車", cart_path %>
 </div> 

<div>
 <%= link_to "購物記錄", orders_path %>
 </div> 


 <div>
 <%= link_to "會員登出", destroy_user_session_path, method: :delete %>
 </div> 

    <% elsif member_signed_in? %>
     <div>  
     	<%= link_to "產品目錄", product_index_path %>
     		
     	</div> 
     	
        <div>  
        <%= link_to "分類目錄", categories_path %> 
        </div>

        <div>  
        <%= link_to "庫存不足區", new_replenish_path %> 
        </div>


     	 <div>  
     	<%= link_to "會員目錄", user_index_path %>
     		
     	</div>

     <div>  
        <%= link_to "管理者目錄", member_index_path %>
            
        </div>


     	<div>
     		<%= link_to "管理者登出", destroy_member_session_path, method: :delete %>
     			
     		</div>  

 <% else %>
    <div>
    	<%= link_to "會員登入", new_user_session_path %>
    </div>  

    <div>
    	<%= link_to "管理者登入", new_member_session_path %>
    </div>  

    <% end %>    