  <h1>購物訂單</h1>

<%= form_for @order, :url => { :controller => 'orders', :action => 'create' } do |f| %>

<div>
	<%= f.label :sn, "訂單編號" %>
	<%= f.text_field :sn, :value => Time.now.strftime("%Y%m%d%L") << (0..9).to_a.shuffle.join %> (請勿修改!)
</div>

<div>
    <%= f.label :buyer, "訂購人" %>
    <%= f.text_field :buyer %>
</div>

<div>
    <%= f.label :phone, "電話" %>
    <%= f.text_field :phone %>	
</div>

<div>
	<%= f.label :address, "地址" %>
    <%= f.text_field :address %>
</div>

<%= f.hidden_field :user_id, :value => current_user.id %>

<table>
    <thead>
      <tr>
        <td>商品名稱</td>
        <td>數量</td>
        <td>單價</td>
        <td>小計</td>
      </tr>
    </thead>
    <tbody>
      <% current_cart.items.each do |item| %>
        <tr>
          <td><%= item.product.name %></td>
          <td><%= item.quantity %></td>
          <td><%= item.product.price %></td>
          <td><%= item.price %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="3">總計</td>
      <td><%= current_cart.total_price %></td>
    </tfoot>
  </table>




    <%= f.submit "匯款" %>
<% end %>
