

<div>
  訂購人: <%= @order.buyer %>
</div>

<div>
連絡電話: <%= @order.phone %>
</div>

<div>
收件地址: <%= @order.address %>
</div>

<table>
    <thead>
      <tr>
        <td>商品名稱</td>
        <td>數量</td>
        <td>小計</td>
      </tr>
    </thead>
    <tbody>
      <% @order_items.each do |item| %>
        <tr>
          <td><%= item.productname %></td>
          <td><%= item.amount %></td>
          <td><%= item.price %></td>
          
        </tr>
      <% end %>
    </tbody>
    <tfoot>
    
    </tfoot>
  </table>


<%= link_to '返回首頁', root_path %>