<%= form_tag products_path, :method => :get do %>
<% end %>

<ul>
<% @product.each do |product| %>
  <li>
    <%= product.name %>
    <%= link_to "Show", product_path(product) %>
    <%= link_to 'Edit', edit_product_path(product) %>
    <%= button_to 'Delete', product_path(product), :method => :delete, :data => { :confirm => "Are you sure?" } %>
    
  </li>
<% end %>
</ul>

<%= link_to 'New product', new_product_path %>