<%= form_tag product_index_path, :method => :get do %>
<% end %>

<ul>
<% @product.each do |product| %>
  <li>
    <%= product.name %>
    <%= link_to "Show", product_path(product) %>
    <% if member_signed_in? %>
        <%= link_to 'Edit', edit_product_path(product) %>
        <%= link_to 'Delete', product_path(product), :method => :delete, :data => { :confirm => "確定刪除?" } %>
    <% end %>

    
  </li>
<% end %>
</ul>

<%= link_to 'New product', new_product_path %>
<%= link_to '返回首頁', root_path %>