

<div>
	產品名稱: <%= @product.name %>
</div>

<div>
產品價格: <%= @product.price %>
</div>

<div>
產品敘述: <%= @product.description %>
</div>

<p>分類: <%= @product.category.try(:name) %></p>


<p><%= link_to '回到產品目錄', product_index_path %></p>