

<div>
	產品名稱: <%= @product.name %>
</div>

<div>
產品價格: <%= @product.price %>
</div>

<div>
產品敘述: <%= @product.description %>
</div>

<p>分類: <%= @product.category.name %></p>

<% if member_signed_in? %>
<div>
目前庫存量: <%= @product.instock %>
</div>

<div>
安全庫存量: <%= @product.safetystock %>
</div>
<% end %>


<p><%= link_to '回到產品目錄', product_index_path %></p>