<%= form_tag member_index_path, :method => :get do %>
<% end %>

<ul>
<% @member.each do |member| %>
  <li>
    <%= member.name %>
    <%= link_to "Show", member_path(member) %>
    <%= link_to 'Edit', edit_member_path(member) %>
    <%= link_to 'Delete', member_path(member), :method => :delete, :data => { :confirm => "確定刪除?" } %>
    
  </li>
<% end %>
</ul>

<%= link_to 'New member', new_member_path %>
<%= link_to '返回首頁', root_path %>