  <h1>編輯分類</h1>

<%= form_for @categories, :url => { :controller => 'categories', :action => 'update' } do |f| %>
    <div>
    <%= f.label :name, "名稱" %>
    <%= f.text_field :name %>
  </div>

    <%= f.submit "更新" %>
<% end %>


<p><%= link_to '回到分類目錄', categories_path %></p>