<div>
	分類名稱: <%= @page_title %>
</div>

<ul>
<% @products.each do |product| %>
  <li>
    <%= link_to product.name, product_path(product) %>
    <%= form_for product, :url => { :controller => 'categories', :action => 'category_update' } do |f| %>
    <%= f.hidden_field :id %>
    分類: <%= f.collection_select(:category_id, Category.all, :id, :name) %>

    <%= f.submit "更新" %>
    <% end %>
    
    

    
  </li>
<% end %>
</ul>




<p><%= link_to '回到分類目錄', categories_path %></p>