<div>
	分類名稱: <%= @page_title %>
</div>

<ul>
<% @products.each do |product| %>
  <li>
    <%= product.name %>
    <%= form_for @category, :url => { :controller => 'categories', :action => 'category_update' } do |f| %>
    分類: <%= render :partial => 'form', :locals => { :f => f } %>
    <%= f.submit "更新" %>
    <% end %>
    
    

    
  </li>
<% end %>
</ul>




<p><%= link_to '回到分類目錄', categories_path %></p>